#toolbar {
    background-color: #f2f2f2;
    padding: 10px 0;
    margin-bottom: 15px;
    box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
}

.removing label{
    text-decoration: line-through;
    transition: all 1s ease-in-out;
}